###> symfony/framework-bundle ###
/.env.local
/.env.*.local
.idea
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
### config dev
/config/packages/doctrine.yaml
.env
composer.lock
package-lock.json
